<section class="gallery">
    <div class="gallery__wrapper">
        <img class="gallery__image" srcset="
                  ./images/Gallery/gallery_mobile@1x.webp      450w,
                  ./images/Gallery/gallery_mobile@2x.webp     450w,
                  ./images/Gallery/gallery_tablet@1x.webp      354w,
                  ./images/Gallery/gallery_tablet@2x.webp      354w,
                  ./images/Gallery/gallery_desktop@1x.webp     270w,
                  ./images/Gallery/gallery_desktop@2x.webp     270w
                " sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, (min-width: 320px) 450px, 100vw" />
    </div>
</section>
